<% layout('layout') %>
<main>
  <section class="blog-details section-padding bg-dark" data-scroll-index="6">
    <h1><%- title %></h1>
    <!-- Blog Title -->
    <p><%- content %></p>

    <!-- Meta description or summary -->
    <div class="blog-content">

      <div>
        <img src="/uploads/<%- image1 %>" alt="<%- image1 %>" />
      </div>
      <%- content %> <% if (subtitles && subtitles.length > 0) { %>
      <div class="subtitles">
        <% subtitles.forEach(function(subtitle) { %>
        <h3><%- subtitle.subtitle %></h3>
        <p><%- subtitle.content %></p>
        <% }); %>
      </div>
      <% } %> <% if (youtube_link) { %>
        <div class="youtube-video">
          <iframe
            width="560"
            height="315"
            src="<%- youtube_link.replace('watch?v=', 'embed/') %>"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>

      <% } %> <% if (faq && faq.length > 0) { %>
      <div class="faq">
        <% faq.forEach(function(f) { %>
        <h4><%- f.question %></h4>
        <p><%- f.answer %></p>
        <% }); %>
      </div>
      <% } %>
    </div>
  </section>
</main>
