<% layout('layout') %>
<main>
  <section class="blog-details section-padding bg-dark" data-scroll-index="6">
    <h1><%- title %></h1> <!-- Blog Title -->
    <p><%- metaDescription %></p> <!-- Meta description or summary -->
    <div class="blog-content">
      <%- content %> <!-- Full blog content -->
      
      <% if (subtitles && subtitles.length > 0) { %>
        <div class="subtitles">
          <% subtitles.forEach(function(subtitle) { %>
            <h3><%- subtitle.subtitle %></h3>
            <p><%- subtitle.content %></p>
          <% }); %>
        </div>
      <% } %>

      <% if (faq && faq.length > 0) { %>
        <div class="faq">
          <% faq.forEach(function(f) { %>
            <h4><%- f.question %></h4>
            <p><%- f.answer %></p>
          <% }); %>
        </div>
      <% } %>
      
    </div>
  </section>
</main>
